div#gameConsole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid black;
  width: 66.667%;
  height: 33.333%;
  padding: 10px;
  gap: 5px;
}

div#inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
}

@media(max-width: 600px){
  div#inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
  }
}

div#gamePropertiesInput1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div#gamePropertiesInput1 > label {
  flex: 0 0 auto;
}

div#gamePropertiesInput1 > input {
  width: calc(100% - 72.04px);
}

div#gamePropertiesInput2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div#gamePropertiesInput2 > label {
  flex: 0 0 auto;
}

div#gamePropertiesInput2 > input {
  width: calc(100% - 88.62px);
}

div#gameConsole > input {
  height: 25%;
  width: 100%;
}

div#gameConsole > button {
  height: 25%;
  width: 100%;
}
