div#app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

div#body {
    display: flex;
    height: calc(100vh - 50px);
    flex-direction: row;
}

div#left {
    display: flex;
    flex-direction: column;
    width: 66.667%;
}
