div#right {
  display: flex;
  position: absolute;
  top: 50px;
  left: 66.667%;
  background-color: whitesmoke;
  border: 1px solid black;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 33.333%;
  height: calc(100% - 50px);
  overflow: auto;
}

div#right > div#game {
  display: flex;
  height: 80px;
  width: 100%;
  background: silver;
  border: 2px solid black;
  flex-direction: row;
}

div#right > div#game > label#gameId {
  display: flex;
  flex: 0 0 auto;
  height: 77.5px;
  width: 80px;
  background: white;
  align-items: center;
  justify-content: center;
}

div#right > div#game > div#progressBar {
  height: 77.5px;
  width: calc(100% - 80px);
  background: rgb(141, 241, 141);
}
